<% if (messages.error_message) { %>
  <div class="alert alert-danger"><%= messages.error_message %></div>
<% } %>

<% if (messages.success_message) { %>
  <div class="alert alert-success"><%= messages.success_message %></div>
<% } %>

<form action="/api/reset-password/<%= token %>" method="POST">
  <input type="password" name="password" required placeholder="New Password">
  <input type="password" name="confirmPassword" required placeholder="Confirm Password">
  <button type="submit">Reset Password</button>
</form>
